.cart {

    float: right;
    padding: 10px;
    margin-top: 0px;
    ul {
        list-style-type: none;
    }
}

.on-sale {
    color: red;
}

.qty {
    width: 60px;
}

$animation-duration: 0.25s;
.animate-inventory {
    &.ng-enter {
        animation: zoomInUp 0.5s;
    }
    &.ng-leave {
        animation: zoomOutDown 0.5s;
    }
}

.animate-cart {
    &.ng-enter {
        animation: fadeInRight 1s;
    }
    &.ng-leave {
        animation: fadeOutLeft 1s;
    }
}


/* =========================== */


/* Twitter Bootstrap Overrides */


/* =========================== */

.jumbotron {
    text-align: center;
    padding: 2px 0;
    margin-bottom: 0;
}

.list-group-item {
    border: none;
}

.dl-horizontal dt {
    text-align: left;
    /*margin-bottom: 1em;*/
    /*width: auto;*/
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 1em;
}


/* ================================== */


/* End of Twitter Bootstrap Overrides */


/* ================================== */

.items {
    padding-left: 0;
    padding-right: 30px;
}

.items p {
    font-size: 2.0rem;
    margin-left: 20px;
}

.items h3 {
    color: #337ab7;
}

.item {
    margin-top: 30px;
}

.item h2 {
    margin-bottom: 20px;
}

.item-image {
    margin-top: 0px;
    margin-left: 20px;
}

.back {
    margin-top: 40px;
}

.search {
    text-align: center;
}

.itemimg {
    /*overflow: visible;*/
    height: 250px;
    width: 250px;
    border: none;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.itemimg:hover {
    border: 3px black solid;
}

a.list-group-item {
    background-color: transparent;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: transparent;
}

a.list-group-item:hover {
    color: transparent;
}

section.container {
    background-color: white;
    margin-bottom: 0px;
}

.cart-image {
    margin-top: 0px;
}

.btn-sm {
    padding: 5px 0px;
}

.row {
  margin-right: 60px;
}
