@keyframes layer2Anim {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes layer3Anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    67% {
        opacity: 1;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slideShow {
    position: relative;
}

.placeHolder {
    width: 1158px;
    height: 550px;
    visibility: hidden;
}

.layer1,
.layer2,
.layer3 {
    position: absolute;
    width: 800px;
    height: 400px;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 170px;
    margin-top: 130px;
    border-radius: 10px;
    border: 3px solid gray;
}

.layer1 {
    background-image: url(/assets/images/art/slider.jpg);
}

.layer2 {
    background-image: url(/assets/images/art/sea_otter.jpg);
    animation: layer2Anim 10s infinite;
}

.layer3 {
    background-image: url(/assets/images/art/monmartre.jpg);
    animation: layer3Anim 10s infinite;
}

.navbar-text {
    margin-left: 15px;
}

.ng-scope {
    padding-top: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.footer {
    /*background-color: #EEEEEE;*/
    padding: 0px;
}

body .ng-scope {
    /*background-color: black;*/
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: gray;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #444444;
    background-color: white;
}

.navbar-brand {
    color: #EEEEEE;
}

body {
    padding-bottom: 0px;
}

.ng-scope .ng-isolate-scope {
    height: 475px;
    /*background-color: #000000;*/
}

.container {
    height: 0px;
}

.main-title {
    text-align: center;
    color: gray;
    font-family: Dancing Script;
    margin-right: 30px;
}

body {
  background: url(http://i4.istockimg.com/file_thumbview_approve/63752693/5/stock-illustration-63752693-abstract-geometric-pattern-dot-with-rhombuses-repeating-seamless-background-vector.jpg);
  background-repeat: all;
}
