.show-item {
  margin-left: 415px;
  margin-top: 10px;
  transition: all .2s ease-in-out;
}

.show-item:hover {
  transform: scale(2.1);
  position: absolute;
  z-index:1;
}

.panel {
  height: 410px;
}

.title {
  text-align: center;
  margin-top: 90px;
}
